<h2>Scouts</h2>

<ul>
  <% @scouts.each do |scout| %>
  <li>
    <%= scout.name %> <small class="text-muted"><%= scout.email %></small>
    <%= link_to "Edit", edit_scout_path(scout) %>
  </li>
<% end %>
</ul>

<%= link_to 'New Scout', new_scout_path, class: 'btn btn-default' %>
