/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main {
    padding: 0px 15px;
    margin-top: 10px;
}

[type=submit].dropdown-item:not(.disabled) {
    cursor: pointer;
}

[type=submit].dropdown-item:has(.disabled) {
    cursor: not-allowed;
}

.btn-login {
    font-size: 100%;
    border-radius: 10px;
    border-width: 5px;
    padding-bottom: 30px;
}

.form {
    margin-bottom: 1%;
    padding-bottom: 1%;
}

.mode {
    width: 100%;
    text-align: center;
    padding: 5%;
}

.blue {
    background-color: #0014cc; 
}

.text-blue {
    color: #0014cc; 
}

.red {
    background-color:  #b30000;
}

.text-red {
    color: #b30000; 
}

.tab-content {
    width: 100%;
}

.table-range {
  td, th {
    width: 20%;
  }
}

